.box{
    display: inline-block;
    background-color:blueviolet;
    width: 627px;
    text-align: center;
    padding: 20px 0;
    box-shadow: 5px 5px 0 black;
}
.box .one{
    margin-bottom: 5px;
}