.black-title{
    background-color: #000;
    text-align: center;
}
.main-header{
    border-bottom: 5px solid black;
}
.main-header .second-part-header{
        font-family: "Fira Code", sans-serif;
        font-weight: 500;
        display: block;
        color: black;
        background-color: white;
        text-align: center;
        margin: 10px;
    
}