.main-content-skills{
    display: flex;
    align-items: center;
}
.main-content-skills .icon-skills{
    margin-right: 25px;
    width: 90px;
}
.main-content-skills .right-skills{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main-content-skills .title-skills{
    margin-bottom: 10px;
}