.main-skills{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 190px;
    border-bottom: 5px solid blueviolet;
}
.main-skills .title-skills{
    text-align: start;
}
.main-skills .img-title{
    margin-bottom: 30px;
}
.main-skills.-second{
    box-sizing: border-box;
    background-color: black;
    border-bottom: 5px solid white;
    height: 970px;
}
.main-skills.-third{
    background-color: blueviolet;
}