.main-banner{
    box-sizing: border-box;
    background-image: url(../../assets/photo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: center;
    height: 820px;
    border-bottom: 5px solid black;
    padding-left: 650px;
    padding-top: 250px;
    
   
}
.main-banner .wrapper-banner{
    display: flex;
    flex-direction: column;
    width: 630px;
 
}

.main-banner .box-banner{
    margin-bottom: 40px;
}

.main-banner .navigation-banner{
    display:flex;
    justify-content: space-around;
}
