.skills{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 5px solid blueviolet;
    
}
.skills .title{
    text-align: start;
}
.skills .imgskill{
    margin-bottom: 60px;
}